* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #c8b7a6;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #703f37;
}

#sketch-box {
  width: 600px;
  height: 600px;
  border: 7px solid #7d94b5;
  display: flex;
  flex-wrap: wrap;
}

.inside-div {
  border: 1px solid #7d94b5;
  flex: 1 1 auto;
  background-color: white;
}

.inside-div:hover {
  background-color: lightgray;
}

.inside-div-clicked {
  background-color: #c29591;
}
